<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vsupa.psp.park.dao.GardenInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.vsupa.psp.park.entity.GardenInfo">
        <id column="id" property="id" />
        <result column="org_id" property="orgId" />
        <result column="garden_name" property="gardenName" />
        <result column="garden_info" property="gardenInfo" />
        <result column="garden_imgs" property="gardenImgs" />
        <result column="preferential_policy" property="preferentialPolicy" />
        <result column="total_area" property="totalArea" />
        <result column="residual_area" property="residualArea" />
        <result column="total_post_count" property="totalPostCount" />
        <result column="residual_post_count" property="residualPostCount" />
        <result column="post_price" property="postPrice" />
        <result column="area_price" property="areaPrice" />
        <result column="address" property="address" />
        <result column="province_id" property="provinceId" />
        <result column="city_id" property="cityId" />
        <result column="area_id" property="areaId" />
        <result column="area_tags" property="areaTags" />
        <result column="create_time" property="createTime" />
        <result column="state" property="state" />
        <result column="mod_time" property="modTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, org_id AS orgId, garden_name AS gardenName, garden_info AS gardenInfo, garden_imgs AS gardenImgs, preferential_policy AS preferentialPolicy, total_area AS totalArea, residual_area AS residualArea, total_post_count AS totalPostCount, residual_post_count AS residualPostCount, post_price AS postPrice, area_price AS areaPrice, address, province_id AS provinceId, city_id AS cityId, area_id AS areaId, area_tags AS areaTags, create_time AS createTime, state, mod_time AS modTime
    </sql>

</mapper>
