<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:c='http://www.springframework.org/schema/c'
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:task="http://www.springframework.org/schema/task"
       
       xsi:schemaLocation="http://www.springframework.org/schema/beans
					       http://www.springframework.org/schema/beans/spring-beans.xsd
					       http://www.springframework.org/schema/context
					       http://www.springframework.org/schema/context/spring-context.xsd
					       http://www.springframework.org/schema/aop
					       http://www.springframework.org/schema/aop/spring-aop.xsd
					       http://www.springframework.org/schema/tx
						   http://www.springframework.org/schema/tx/spring-tx.xsd
					       http://www.springframework.org/schema/data/jpa
					       http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
					       http://www.springframework.org/schema/util
					       http://www.springframework.org/schema/util/spring-util-2.0.xsd
					       http://www.springframework.org/schema/cache
					       http://www.springframework.org/schema/cache/spring-cache.xsd
					       http://www.springframework.org/schema/task
					       http://www.springframework.org/schema/task/spring-task-4.0.xsd">

	<!-- shiro and security -->
	<bean id="myRealm" class="com.scho.base.controller.SchoShiroRealm" />
	
	<bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager" />
	
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
    	<property name="realm" ref="myRealm"/>
    	<property name="cacheManager" ref="cacheManager"/>
	</bean>

	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
	
	<bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
    	<property name="staticMethod" value="org.apache.shiro.SecurityUtils.setSecurityManager"/>
   	 	<property name="arguments" ref="securityManager"/>
	</bean>
	
	<bean id="adminFilter" class="com.scho.base.controller.AdminAuthenticationFilter" />
	
	<bean id="schoSDNFilter" class="com.scho.base.controller.SchoSDNFilter" />

	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
	    <property name="securityManager" ref="securityManager"/>
	
	    <property name="loginUrl" value="/index.jsp"/>
	    <property name="successUrl" value="/welcome.html"/>
	    <property name="unauthorizedUrl" value="/unauthorized.html"/> 
	   
	   <property name="filters">
	        <util:map>
	            <entry key="adminFilter" value-ref="adminFilter"/>
	        </util:map>
	    </property>
		<!-- -->
	    <property name="filterChainDefinitions">
	        <value>
				/orgSyncToken/reception=anon
	        	/=anon
	        	/index.jsp=anon
	        	/login=anon
	            /login/*=anon
	            /resetPwd/*=anon
	            /quickAddOrganization/*=anon
	            /channelPartner/*=anon
	            /logout=anon
	            /app/**=anon
	            /bower_components/**=anon
	            /images/**=anon
	            /js/**=anon
	            /json/**=anon
	            /json2/**=anon
	            /qr_code/**=anon
	            /scripts/**=anon
	            /styles/**=anon
	            /themes/**=anon
	            /template/**=anon
	            /test/**=anon
	            /views/**=anon
	            /syscom/**=anon
	            /**.png=anon
				/**.css=anon
	            /**.js=anon
				/**.ico=anon
	            /**.json=anon
	            /**.html=anon
	            /**.txt=anon
	            /**=adminFilter
	        </value>
	    </property>
	</bean>
	
	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
   	 	<property name="securityManager" ref="securityManager"/>
	</bean>
	
</beans>